/*#343a40 black*/
/*#f8f9fa white*/
.modal-content,.navbar,.main-nav,body{
    background: #343a40 !important;
}
.btn-outline-primary{
    border-color: #87CEEB !important;
}
.btn:focus, .btn-primary:active{
    background: #87CEEB !important;
}
.btn-outline-primary:hover{
    transition: 0.3s;
    background:  #87CEEB;
    color:black;
}
.btn-primary{
    background:  #87CEEB;
    border-color: #87CEEB;
    color:black;
    transition: 0.3s;
}
.btn-primary:hover{
    transition: 0.3s;
    background: #0046ff;
    color: #f8f9fa;
}

.btn:hover img[alt="add"]{
    filter: invert(0%);
}
.bluecolor{
    color: #87CEEB;
}
.close{
    color: #f8f9fa;
}
.close:hover{
    color: #f8f9fa;
}
a,div,p{
    color:#f8f9fa !important ;
}
.btn-outline-primary{
    color:#f8f9fa;
    border-color: #f8f9fa;
}

.infosmall{
    color: #b1afaf !important;
}
.subbannertext {
    color: #b1afaf !important;
}
.navbar-toggler{
    filter: invert(100%);
}
.addborderbottom {
    border-bottom: 1px solid #7d7d7d;
}
.error{
    color:#ff7a7a;
    padding: 2px 2px;
}
.dropdown-divider{
    border-color: #7d7d7d;
}
.alertpopup {
    background: #f8f9fa;
    border-radius: 10px;
    color: black;
}
.iconsimagehover {
    filter: invert(100%);
}
img[alt="add"],img[alt="gallery"],img[alt="user"]{
    filter:invert(100%);
}
img[alt="addnewbatch"]{
    filter: invert(86%) sepia(4%) saturate(7258%) hue-rotate(173deg) brightness(95%) contrast(94%);
}
.btn.btn-primary i{
    color:black;
}
.btn.btn-primary:hover i{
    color:white;
}
.table{
    color:white !important;
}