body {
    font-family: "Google Sans", sans-serif;
    background: #f8f9fa;
}
.addborderbottom{
    border-bottom: 1px solid #bdbdbd;
}
.btn {
    border-radius: 50px;
}
.form-control{
    border-radius: 50px;
    height: 50px;
    text-align: center;
}

.inputfield{
    margin: auto;
}
@media (min-width: 768px){
    .inputfield{
        width: 60vw;
    }
}
.error{
    color:red;
    padding: 2px 2px;
}